
%script{ :src => "https://rpxnow.com/openid/v2/widget", :type => "text/javascript" }
%script{ :type => "text/javascript" }
  RPXNOW.overlay = true;
  RPXNOW.language_preference = 'en';


%a.rpxnow{ :href => "https://olokun.rpxnow.com/openid/v2/signin?token_url=http://localhost:9393/login_completed", :onclick => "return false;" }
  Sign In
